.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color:white;
    padding: 10px;
    border: 1px solid black;
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 5px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 30px;
    text-align: center;
}
.item{
    size-adjust: 10px;
    border: 1px solid black;
}
.image{
    width: 50vh;
    height: 30vh;

}
